.home {
  display: flex; }
  .home__sidebar {
    margin: 5px;
    padding: 5px;
    width: 300px; }
    .home__sidebar__header {
      display: flex;
      align-items: center;
      justify-content: center; }
      .home__sidebar__header button {
        height: 25px;
        margin-left: 5px;
        cursor: pointer; }
    .home__sidebar__list {
      padding: 10px;
      list-style: none;
      height: 75vh;
      overflow-x: hidden;
      overflow-y: auto; }
  .home__repo-notselected {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
